@font-face {
    font-family: 'Norse Bold';
    src: url('../fonts/Norse-Bold.otf') format('opentype'),
         url('../fonts/Norse-Bold.woff2') format('woff2'),
         url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(243, 243, 235);
    width: 960px;
    height: 620px;
    display: flex;
    position: relative;
    border-radius: 8px;
}
.container > .image-area{
    background-image: url(bg-image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 684px;
    border-radius: 8px;
}
.logo-area{
    position: relative;
    top: 20vh;
    height: 18vh;
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    opacity: 0.6;
}

.logo{
    width: 10vh;
    height: auto;
}

.logo-txt{
    font-size: 6vw;
    font-family:'Norse Bold';
}

.container > .text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area > .para{
    background-color: rgb(231, 236, 239);
    color: #1f2937;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 24px;
    font-size: large;
    
}
.form{
    background-color: white;
    padding-top: 49px;
    padding-left: 24px;
    padding-bottom: 49px;
    margin-bottom: 16px;
}
form {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.account{
    padding: 16px;
}
.createBtn{ 
    cursor: pointer;
    padding: 16px;
    border-radius: 8px;
    background-color:#1f2937;
    color: white;
    font-weight: 600;
    
}